<!-- Sidebar -->
<div class="sidebar">
  <app-sidebar></app-sidebar>
</div>

<!-- Conteúdo Principal -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row g-0">
      <div class="col-12">
        <div class="p-4">
        <h3 class="text-center mb-4">Editar Usuário</h3>

        <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">

          <h5 class="mb-3"><i class="bi bi-person-fill"></i> Dados do Usuário</h5>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="nome" class="form-label">Nome</label>
              <input id="nome" formControlName="nome" class="form-control" type="text"
                placeholder="Digite o nome completo" />
              <div *ngIf="cadastroForm.get('nome')?.invalid && cadastroForm.get('nome')?.touched">
                <small class="text-danger">O campo nome é obrigatório.</small>
              </div>
            </div>

            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input id="email" formControlName="email" class="form-control" type="email"
                placeholder="Digite o email" />
              <div *ngIf="cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched">
                <small class="text-danger">Por favor, insira um email válido.</small>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label for="username" class="form-label">Username</label>
              <input id="username" formControlName="username" class="form-control" type="text"
                placeholder="Digite o username" />
              <div *ngIf="cadastroForm.get('username')?.invalid && cadastroForm.get('username')?.touched">
                <small class="text-danger">O campo username é obrigatório.</small>
              </div>
            </div>
            <div class="col-md-3">
              <label for="cargo" class="form-label">Cargo</label>
              <select id="cargo" formControlName="cargo" class="form-select">
                <option value="" disabled selected>Selecione o cargo</option>
                <option value="admin">Admin</option>
                <option value="usuario">Usuário</option>
              </select>
              <div *ngIf="cadastroForm.get('cargo')?.invalid && cadastroForm.get('cargo')?.touched">
                <small class="text-danger">O campo cargo é obrigatório.</small>
              </div>
            </div>
            <div class="col-md-2">
              <label for="ddd" class="form-label">DDD</label>
              <input id="ddd" formControlName="ddd" class="form-control" type="tel" placeholder="Digite o DDD"
                (input)="formatarDDD()" />
              <div *ngIf="cadastroForm.get('ddd')?.invalid && cadastroForm.get('ddd')?.touched">
                <small class="text-danger">O campo DDD é obrigatório.</small>
              </div>
              </div>
            <div class="col-md-4">
              <label for="telefone" class="form-label">Telefone</label>
              <input id="telefone" formControlName="telefone" class="form-control" type="tel"
                placeholder="Digite o telefone" (input)="formatarTelefone()" />
              <div *ngIf="cadastroForm.get('telefone')?.invalid && cadastroForm.get('telefone')?.touched">
                <small class="text-danger">O campo telefone é obrigatório.</small>
              </div>
            </div>
          </div>

          <h5 class="mt-4 mb-3"><i class="bi bi-house-fill"></i> Endereço</h5>

          <div class="row mb-3">
            <div class="col-md-2">
              <label for="cep" class="form-label">CEP</label>
              <input id="cep" formControlName="cep" class="form-control" type="text" placeholder="CEP"
                (input)="formatarCEP()" (blur)="consultarCEP()" required />
            </div>
            <div class="col-md-8">
              <label for="logradouro" class="form-label">Logradouro</label>
              <input id="logradouro" formControlName="logradouro" class="form-control" type="text"
                placeholder="Rua/Av." />
              <div *ngIf="cadastroForm.get('logradouro')?.invalid && cadastroForm.get('logradouro')?.touched">
                <small class="text-danger">O campo logradouro é obrigatório.</small>
              </div>
            </div>
            <div class="col-md-2">
              <label for="numero" class="form-label">Número</label>
              <input id="numero" formControlName="numero" class="form-control" type="text" placeholder="Número" />
              <div *ngIf="cadastroForm.get('numero')?.invalid && cadastroForm.get('numero')?.touched">
                <small class="text-danger">O campo número é obrigatório.</small>
              </div>
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-5">
              <label for="bairro" class="form-label">Bairro</label>
              <input id="bairro" formControlName="bairro" class="form-control" type="text" placeholder="Bairro" />
              <div *ngIf="cadastroForm.get('bairro')?.invalid && cadastroForm.get('bairro')?.touched">
                <small class="text-danger">O campo bairro é obrigatório.</small>
              </div>
            </div>
            <div class="col-md-5">
              <label for="cidade" class="form-label">Cidade</label>
              <input id="cidade" formControlName="cidade" class="form-control" type="text" placeholder="Cidade" />
              <div *ngIf="cadastroForm.get('cidade')?.invalid && cadastroForm.get('cidade')?.touched">
                <small class="text-danger">O campo cidade é obrigatório.</small>
              </div>
            </div>
            <div class="col-md-2">
              <label for="uf" class="form-label">UF</label>
              <input id="uf" formControlName="uf" class="form-control" type="text" placeholder="UF" />
              <div *ngIf="cadastroForm.get('uf')?.invalid && cadastroForm.get('uf')?.touched">
                <small class="text-danger">O campo UF é obrigatório.</small>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary w-100" type="submit" [disabled]="cadastroForm.invalid">Editar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
